<div id="search" class="search">
<h1><%= application_name%></h1>
<%= form_tag search_path, class: 'form-inline clearfix', id: 'search_patron_statuses', method: :get do %>
  <div class="input-group col-sm-8">
    <label for="q" class="sr-only"><%= strip_tags(get_formatted_detail('searchbox_header'))%></label>
    <%= text_field_tag :q, params[:q], class: "form-control", placeholder: strip_tags(get_formatted_detail('searchbox_header')) %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary search-btn form-control" id="search">
        <span class="submit-search-text">Search</span>
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
<% end %>
</div>
