<h1>Listing users</h1>

<%= form_tag users_path, :method => :get, :class => "form-inline clearfix" do %>
<%= render "common/searchbox" %>
<% end %>
<br />

<div id="users">
<%= render "users" %>
</div>
