<div id="search" class="search">
<h2><%= application_name%></h2>
<%= form_tag search_path, class: 'form-inline clearfix', id: 'search_patron_statuses', method: :get do %>
  <p>
    <label for="q" class="sr-only"><%= strip_tags(get_formatted_detail('searchbox_header'))%>...</label>
    <input class="search_q q autocomplete_query form-control" autocomplete="off" id="q" name="q" placeholder="<%= strip_tags(get_formatted_detail('searchbox_header'))%>..." type="text">
    <input type="submit" class="btn btn-primary search-btn" id="search" value="Search" />
  </p>
<% end %>
</div>
